* {
  box-sizing: border-box;
}
.tableHeader{
  display: flex;
  align-items: stretch;
  background: #d5f0f7;
}
.tableHeader > *{
  width: calc(100% / 7);
  text-align: left;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  border-right: 1px dotted black;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px 2px;
  margin: 0 3px;
}
.tableBody {
  width: 100%;
}
.tableBody .row{
  width: 100%;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s all ease;
}
.tableBody .cell {
  width: calc(100% / 7);
  border-right: 1px dotted black;
  font-weight: lighter;
  overflow: hidden;
  text-align: left;
  padding: 10px 10px;
  text-overflow: ellipsis;
}
.tableHeader .actions{
  width: 3rem;
  display: flex;
  justify-content: flex-end;
}
.tableHeader .actions__filter {
  background: transparent;
  font-size: 1rem;
  border: none;
  padding: 0;
  cursor: pointer;
}
.cell:last-of-type{
  text-transform: capitalize;
}
.row:nth-child(odd) {
  background: #edf4fa;
  transition: 0.1s all ease;
}
.row:last-child {
  background: #edf4fa;
  border-bottom: 4px solid black;
  transition: 0.1s all ease;
}

.row:hover {
  font-weight: bold;
  font-size: 0.9rem;
  background: #039bf447;
  transition: 0.1s all ease;
}
.filterBox{
  position: absolute;
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
  top: 50%;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s opacity ease;
  transition: 0.3s top ease;
}
.filterBox.active {
  top: 75%;
  right: 0;
  opacity: 1;
  pointer-events: all;
  transition: 0.3s opacity ease;
  transition: 0.3s top ease;
}
.filterBox input{
  border-radius: 5px;
  padding: 5px;
  min-width: 100%;
  max-width: 100%;
  display: block;
  border: 1px solid #ddd;
}
.filterBox p {
  margin: 0 0 5px;
}
.closeFilter {
  position: absolute;
  top: 5px;
  right: 0px;
  color: #ddd;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.loading-box,
.errorMsg 
{
  text-align: center;
  padding: 100px;
}
.errorMsg button{
  border: 2px solid #039bf4;
  color: #039bf4;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 10px 0;
  padding: 5px 10px;
  transition: 0.2s all ease;
  cursor: pointer;
}
.errorMsg button:hover{
  background: #039bf4;
  color: white;
  transition: 0.2s all ease;
}